body {
    background: linear-gradient(to right, #594157, #271F30);
}

.card_widget {
	margin-top: .2em;
}

.site-content {
   /* padding-top: 10px;
    padding-left: 10px; */
}

.box_shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section_header {
    color: white;
}
.section_header h1 {
    text-align: center;
}

.top_page {
    color: white;
    background-color: black;
    height: 3em;
    text-align: center;
}
