body {
    background: rgba(0,0,0,0.1); 
}

.navbar {
    background-color: #031927;
}

.box_shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section_header {
    color: black;
    text-align: center;
    text-shadow: 2px 2px 8px #aaa;
}

