{% extends 'room_sensors/base.html' %}
{% load staticfiles %}

{% block site_content %}
{% if temperature is not None %}
    <h3 class="section_header">Temperature</h3>
	<div class="row">
	    {% for sensor, val in temperature.items %}
		<div class="col">
		    <div class="card text-center box_shadow">
			<div class="card-body">
			    <h4 class="card-title">{{ val.location }}</h4>
			    <h6 class="card-subtitle mb-2 text-muted">Updated: {{ val.updated  | date:"n/j/Y f:s A"}}</h6>
			    <p class="card-text temp_list">Temperature: <a class="temp_val">{{ val.temperature }}</a>&#176 <a class="temp_sign">F</a></p>
			    <p class="card-text">Humidity: {{ val.humidity }}%</p>
			</div> <!-- END card-body -->
		    </div> <!-- END card -->
		</div> <!-- END col -->
	    {% endfor %}
	</div> <!-- END row -->
{% endif %}
{% endblock %}
